@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Custom scrollbar for webkit browsers */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #090a0f;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1f2130;
    border-radius: 9999px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2e3146;
  }
}
